.container {
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
body{
    background-color: rgb(36, 34, 42);
}
h1{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
}
p{
    color: #4ECCA3;
}
footer{
    margin-top:5%;
    color: #4ECCA3;
    text-align: center;
}
img{
    width: 80%;
}
label{
    display: block;
    font-size: 4rem;
    color: #4ECCA3;
    margin:auto;
    text-align: center;
    border-color: #f107ab;
    border-radius: 50%;
    border-style: groove;
}